.card {
  padding: 1.5rem;
  h5 {
    font-size: 3.5rem;
    background-color: white;
    height: 4rem;
    width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e72929;
  }
  h3 {
    color: yellow;
  }
}
